<blockquote class="embedly-card"><h4><a href="http://www.ndf-hibm.org/index.php/about-hibm">What is HIBM - Neuromuscular Disease Foundation</a></h4><p>HIBM is a rare genetic disease that causes muscles to slowly waste away. HIBM is not life-threatening but it may lead to physical debilitation within two decades of diagnosis. Symptoms usually begin to develop in early adulthood, between late teens to early 30's.</p></blockquote>
<!-- <a class="embedly-card" href="http://www.ndf-hibm.org/index.php/about-hibm">What is HIBM?</a> -->

<blockquote class="embedly-card"><h4><a href="http://clinicaltrials.gov/ct2/results?term=gne">Find Clinical Trials on HIBM - Search Results</a></h4><p>clinicaltrials.gov - A service of the U.S. National Institutes of Health</p></blockquote>
<!-- <a class="embedly-card" href="http://clinicaltrials.gov/ct2/results?term=gne">Find Clinical Trials on HIBM</a> -->

<blockquote class="embedly-card"><h4><a href="http://www.ncbi.nlm.nih.gov/pubmed/?term=gne+myopathy">Read articles on gne myopathy on PubMed - NCBI</a></h4><p>PubMed comprises more than 23 million citations for biomedical literature from MEDLINE, life science journals, and online books. Citations may include links to full-text content from PubMed Central and publisher web sites.</p></blockquote>
<!-- <a class="embedly-card" data-card-description="0" href="http://www.ncbi.nlm.nih.gov/pubmed/?term=gne+myopathy">gne myopathy - PubMed - NCBI</a> -->


